
# https://developers.google.com/identity/oauth2/web/guides/get-google-api-clientid?hl=zh-cn
GOOGLE_CLIENT_ID="xxxx"
GOOGLE_CLIENT_SECRET="xxxx"

# https://developers.facebook.com
FACEBOOK_CLIENT_ID="xxxx"
FACEBOOK_CLIENT_SECRET="xxxx"

# https://www.prisma.io/docs/orm/prisma-migrate/getting-started

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="sqlserver://user:password@localhost:1433/mydatabase"

NEXT_PUBLIC_DEFAULT=
